<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>UFO Hunters</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="Sighting">Latest UFO Sightings</a></li>
      <li><a href="">Report a UFO</a></li>
      <li><a href="">Nearest UFO Sightings</a></li>
    </ul>
  </div>

</div>
